body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    width: 90%;
    max-width: 1200px;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1, h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

label {
    margin-bottom: 5px;
}

input, textarea {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.user-info, .all-users {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

#password {
    width: 360px;
    height: 100px; /* Aumentar la altura para mejorar la visibilidad */
    font-size: 16px; /* Aumentar el tamaño de la fuente */
    white-space: pre-wrap; /* Permitir varias líneas */
    overflow-wrap: break-word; /* Romper palabras largas */
    display: block; /* Asegura que se muestre como bloque */
}

.message {
    background-color: #ffffcc;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ffcc00;
    border-radius: 4px;
    text-align: center;
}

.logs {
    margin-top: 20px;
    max-height: 150px; /* Ajusta la altura máxima del contenedor de logs */
    overflow-y: auto; /* Habilita la barra de desplazamiento vertical */
}

.logs ul {
    list-style-type: none;
    padding: 0;
}

.logs li {
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

.logs li.query {
    background-color: #e6f7ff;
}

.logs li.error {
    background-color: #ffcccc;
}

.logs li.info {
    background-color: #ccffcc;
}
